<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img src="https://image.tmdb.org/t/p/original/egoyMDLqCxzjnSrWOz50uLlJWmD.jpg" alt="1" />
    </div>
    <div class="slide-pane">
      <h2 class="name">Sonic the Hedgehog 2</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"> <span>star</span><span class="rating-value">7.3</span><span>/10</span></span>
          <span>500 Reviews</span>
          <span>2022</span>
        </div>
      </div>
      <div class="desc">
        After settling in Green Hills, Sonic is eager to prove he has what it takes to be a true hero. His test comes
        when Dr. Robotnik returns, this time with a new partner, Knuckles, in search for an emerald that has the power
        to destroy civilizations. Sonic teams up with his own sidekick, Tails, and together they embark on a
        globe-trotting journey to find the emerald before it falls into the wrong hands.
      </div>
    </div>
  </div>
</div>
