/* You can add global styles to this file, and also import other style files */
@import './styles/_intit-css.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap'); */

@import "~primeflex/primeflex.css";

body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik Wet Paint', cursive; */
    color: white;
    font-size: 14px;
    color: white;
    background-color: #141414;
}

a{
    text-decoration: none;
    color: white;
}
